{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "test/**/*.ts"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true
}